# Your Grades and GPA at Illinois!

In this lab, you will explore the GPA dataset and find out about the easiest, hardest, and most popular courses at Illinois!

# Part 0: Your Group!

Edit the next Python cell to add information about who you're working within your lab section:

In [1]:
# First, meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Sogol"
ca1_name = "Katy"
ca2_name = "Emily"


# Also, make sure to meet your team for this lab! Find out their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = "Shawn"
partner1_netid = "coffell2"
partner1_major = "Info Sci"
partner1_qotd_answer = "Shapeshifting"

partner2_name = "michelle"
partner2_netid = "mj15"
partner2_major = "CS + Stats"
partner2_qotd_answer = "Mind reading"

partner3_name = "Finn"
partner3_netid = "FJc33"
partner3_major = "Econ"
partner3_qotd_answer = "Create wealth"

## Part 0.5 | Loading the Dataset

For the first part of our lab, we'll be using the GPA dataset we saw in class.

You can download the dataset by following to following link to the github storing the dataset: https://raw.githubusercontent.com/wadefagen/datasets/master/gpa/uiuc-gpa-dataset.csv

To download this file, you will want to **right click** and click **Save As**.

In [3]:
import pandas as pd
df = pd.read_csv('GPA.csv')

## Part 1 | Finding Total GPAs

Add two new columns, `Total Students` and `Average GPA`, that compute the total number of students in each course and the average weighted GPA for each course.

You should not include students with a `W` in either column and feel free to add other columns to help you out!

In [7]:
df["Total Students"] = df["A+"]+df["A"]+df["A-"]+df["B+"]+df["B"]+df["B-"]+df["C+"]+df["C"]+df["C-"]+df["D+"]+df["D"]+df["D-"]+df["F"]

df["Average GPA"] = (df["A+"]*4.0+df["A"]*4.0+df["A-"]*3.67+df["B+"]*3.33+df["B"]*3+df["B-"]*2.67+df["C+"]*2.33+df["C"]*2+df["C-"]*1.67+df["D+"]*1.33+df["D"]*1+df["D-"]*0.67)/ df["Total Students"]

In [8]:
## == TEST CASES for Puzzle 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(df[
  (df["YearTerm"] == "2010-su") & \
  (df["Subject"] == "STAT") & \
  (df["Number"] == 410) \
]["Total Students"].sum() == 31), "It appears your \"Total Students\" column is incorrect."

assert(df[
  (df["YearTerm"] == "2018-fa") & \
  (df["Subject"] == "CS") & \
  (df["Number"] == 225) \
]["Total Students"].sum() == 697), "It appears your \"Total Students\" column is incorrect."

assert( abs(df[
  (df["YearTerm"] == "2018-fa") & \
  (df["Subject"] == "STAT") & \
  (df["Number"] == 100) \
]["Average GPA"].mean() - 3.247) < 0.01), "It appears your \"Average GPA\" column is incorrect."

## Part 2 | Finding the easiest and hardest courses

### Puzzle 2.1: Hardest Courses in the Dataset

Using functions you already know, find the **30 hardest courses** at Illinois based on their "Average GPA".

In [9]:
df_hardestCourses = df.nsmallest(30, "Average GPA")
df_hardestCourses

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
4111,2018,Fall,2018-fa,LER,120,Contemporary Labor Problems,0,0,1,2,...,1,2,1,1,0,15,0,"Taylor, Don",28,1.142857
16583,2016,Spring,2016-sp,LER,100,Introduction to Labor Studies,0,1,0,1,...,4,1,1,1,1,10,0,"Hawking, Carol J",24,1.319583
24396,2014,Fall,2014-fa,LER,120,Contemporary Labor Problems,0,4,0,1,...,4,1,0,1,0,15,1,"Hershfield, David",30,1.400000
26664,2014,Spring,2014-sp,LER,120,Contemporary Labor Problems,0,1,3,0,...,3,0,0,0,2,11,0,"Cohen, Margaret L",25,1.427600
29461,2013,Fall,2013-fa,MATH,2,Introductory Algebra,0,0,0,0,...,10,5,3,3,2,5,3,"Aydin-Mullen, Yelda",31,1.430645
26739,2014,Spring,2014-sp,MATH,220,Calculus,0,3,0,0,...,5,0,2,1,0,11,1,"Gilbert, Rebekah A",28,1.476071
1407,2019,Spring,2019-sp,LER,100,Introduction to Labor Studies,0,2,1,2,...,0,0,0,2,1,9,0,"Cohen, Margaret L",21,1.491905
14311,2016,Fall,2016-fa,LER,120,Contemporary Labor Problems,0,2,2,1,...,0,1,2,1,2,8,2,"Hershfield, David",22,1.515455
14579,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,0,0,...,3,4,1,2,0,6,1,"Swigart, James P",23,1.522174
24443,2014,Fall,2014-fa,LLS,296,Bilingual US Latina/o Culture,3,1,0,1,...,1,1,1,0,2,11,1,"Romero, Rolando J",27,1.568519
24607,2014,Fall,2014-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,0,...,1,3,5,1,1,5,0,"Swigart, James P",25,1.586800
11512,2017,Spring,2017-sp,LER,100,Introduction to Labor Studies,0,2,1,1,...,3,2,0,1,0,9,0,"Ashby, Steven",23,1.594783
5462,2018,Spring,2018-sp,CHEM,101,Introductory Chemistry,1,5,8,1,...,10,9,11,23,10,26,7,"Decoste, Donald J",132,1.598864
14307,2016,Fall,2016-fa,LER,100,Introduction to Labor Studies,0,2,1,2,...,3,2,0,1,1,10,0,"Stewart, Beverly L",27,1.605185
14310,2016,Fall,2016-fa,LER,110,Labor and Social Movements,0,4,2,0,...,2,1,0,1,4,8,0,"Ashby, Steven",25,1.614400
39931,2011,Spring,2011-sp,MATH,115,Preparation for Calculus,1,4,2,1,...,5,0,9,11,2,18,0,"Carty, Thomas E",71,1.619296
14570,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,1,...,1,3,3,4,1,4,2,"Swigart, James P",25,1.626800
39867,2011,Spring,2011-sp,LER,100,Introduction to Labor Studies,2,1,0,2,...,1,2,0,0,1,9,2,"Konopacki, Mike",22,1.636364
26259,2014,Spring,2014-sp,ENGL,274,Contemporary Classics,0,1,3,0,...,1,2,1,0,0,8,1,"Hutner, Gordon",21,1.651429
19374,2015,Fall,2015-fa,MATH,181,A Mathematical World,1,3,0,2,...,3,1,1,1,1,8,0,"Loeb, Sarah J",23,1.651739
4321,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,4,1,0,1,1,7,0,"Swigart, James P",23,1.652174
14575,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,3,1,1,1,3,6,0,"Swigart, James P",26,1.654231
38279,2011,Fall,2011-fa,TAM,251,Introductory Solid Mechanics,1,0,4,2,...,23,3,6,23,9,11,0,"Starzewski, Martin O",102,1.657157
43487,2011,Summer,2011-su,TAM,251,Introductory Solid Mechanics,1,0,4,2,...,23,3,6,23,9,11,0,"Starzewski, Martin O",102,1.657157
24192,2014,Fall,2014-fa,IE,300,Analysis of Data,4,1,3,1,...,13,10,9,8,2,14,4,"Tursun, Umit D",75,1.662400
31769,2013,Spring,2013-sp,MATH,115,Preparation for Calculus,0,3,5,3,...,9,6,6,3,6,26,4,"Lansing, Jennifer L",96,1.663438
2244,2019,Summer,2019-su,CHEM,102,General Chemistry I,0,2,2,4,...,4,3,3,3,9,10,6,"Marville, Kelly",52,1.667115
37392,2011,Fall,2011-fa,LER,110,Labor and Social Movements,0,3,0,1,...,2,3,0,3,0,7,0,"Saute, Robert",24,1.680417
42600,2011,Summer,2011-su,LER,110,Labor and Social Movements,0,3,0,1,...,2,3,0,3,0,7,0,"Saute, Robert",24,1.680417
11517,2017,Spring,2017-sp,LER,110,Labor and Social Movements,0,3,2,0,...,3,0,0,1,0,12,2,"Schiavone, Michael",29,1.701724

### Puzzle 2.2: Hardest Courses in 2019

Find the **30 hardest courses in 2019** at Illinois based on their "Average GPA".

In [10]:
df_2019 = df[df["Year"]==2019]
df_hardestCourses_2019 = df_2019.nsmallest(30, "Average GPA")
df_hardestCourses_2019

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
1407,2019,Spring,2019-sp,LER,100,Introduction to Labor Studies,0,2,1,2,...,0,0,0,2,1,9,0,"Cohen, Margaret L",21,1.491905
2244,2019,Summer,2019-su,CHEM,102,General Chemistry I,0,2,2,4,...,4,3,3,3,9,10,6,"Marville, Kelly",52,1.667115
1410,2019,Spring,2019-sp,LER,120,Contemporary Labor Problems,1,3,1,0,...,2,2,0,2,0,7,0,"King, Judith L",22,1.803636
1487,2019,Spring,2019-sp,MATH,112,Algebra,1,4,4,2,...,1,3,3,3,2,12,0,"Reddy, Alison",44,1.871591
2376,2019,Summer,2019-su,SPAN,141,Intro to Spanish Grammar,0,1,0,2,...,3,3,1,1,0,4,0,"Carollo, Brenden C",21,1.872381
918,2019,Spring,2019-sp,ECON,302,Inter Microeconomic Theory,2,0,3,2,...,6,3,2,4,1,5,2,"Buckley, Bryan D",32,1.875313
526,2019,Spring,2019-sp,CHEM,232,Elementary Organic Chemistry I,2,1,1,2,...,2,1,1,7,3,3,1,"Kell, David A",28,1.881071
1498,2019,Spring,2019-sp,MATH,220,Calculus,11,21,2,7,...,30,12,12,23,5,47,3,"Murphy, Robert F",218,1.902248
917,2019,Spring,2019-sp,ECON,302,Inter Microeconomic Theory,2,2,2,1,...,3,2,4,3,3,6,0,"Buckley, Bryan D",37,1.910270
1839,2019,Spring,2019-sp,PSYC,100,Intro Psych,0,0,1,1,...,10,3,1,4,0,4,0,"Travis, Lisa L",34,1.931765
2355,2019,Summer,2019-su,PSYC,245,Industrial Org Psych,1,0,2,2,...,0,2,1,1,0,8,0,"Shenouda, Christine K",31,1.957097
2331,2019,Summer,2019-su,MCB,245,Human Anat & Physiol Lab I,0,1,0,2,...,0,0,1,2,0,5,1,"Swigart, James P",23,1.999565
1492,2019,Spring,2019-sp,MATH,124,Finite Mathematics,0,3,1,2,...,1,3,1,0,3,3,0,"Kim, Heejoung",22,2.060909
510,2019,Spring,2019-sp,CHEM,102,General Chemistry I,3,10,6,4,...,7,8,4,4,11,11,5,"Marville, Kelly",86,2.086047
2329,2019,Summer,2019-su,MATH,417,Intro to Abstract Algebra,2,1,1,2,...,0,2,0,2,1,4,1,"McCarthy, Randy",21,2.095714
1499,2019,Spring,2019-sp,MATH,220,Calculus,5,26,13,5,...,34,15,5,19,4,35,5,"Murphy, Robert F",208,2.102933
509,2019,Spring,2019-sp,CHEM,102,General Chemistry I,6,16,11,20,...,33,19,18,25,29,12,4,"Marville, Kelly",252,2.103532
916,2019,Spring,2019-sp,ECON,302,Inter Microeconomic Theory,1,2,3,2,...,0,4,0,1,3,5,0,"Buckley, Bryan D",31,2.118710
1844,2019,Spring,2019-sp,PSYC,201,Intro to Social Psych,1,3,3,1,...,4,3,1,2,0,6,0,"Albarracin, Dolores",34,2.147647
2349,2019,Summer,2019-su,PSYC,201,Intro to Social Psych,2,2,3,4,...,1,0,0,1,1,8,1,"Shenouda, Christine K",29,2.172414
1435,2019,Spring,2019-sp,LING,301,Elements of Syntax,7,2,3,2,...,1,1,3,2,1,8,1,"Green, Jeffrey J",34,2.176176
1665,2019,Spring,2019-sp,ME,330,Engineering Materials,0,5,1,3,...,16,3,0,7,2,3,0,"King, William P",55,2.218727
1594,2019,Spring,2019-sp,MCB,247,Human Anat & Physiol Lab II,2,0,3,1,...,5,2,3,3,0,2,2,"Swigart, James P",27,2.222593
1663,2019,Spring,2019-sp,ME,320,Heat Transfer,1,2,4,3,...,7,0,3,0,0,6,1,"Pearlstein, Arne J",33,2.222727
2373,2019,Summer,2019-su,SPAN,101,Elementary Spanish I,3,2,3,0,...,0,0,2,1,2,4,0,"Bandin, Yvette A",21,2.222857
127,2019,Spring,2019-sp,ACE,100,Agr Cons and Resource Econ,0,2,2,2,...,6,2,2,2,1,1,1,"Gundersen, Lisa C",25,2.226800
1349,2019,Spring,2019-sp,KIN,140,Social Sci of Human Movement,0,1,8,12,...,13,17,4,3,4,7,0,"Pindus, Dominika M",110,2.239909
1290,2019,Spring,2019-sp,INFO,202,Social Aspects Info Tech,2,3,6,1,...,6,1,7,1,1,7,0,"Kendall, Lori S",60,2.250000
1598,2019,Spring,2019-sp,MCB,247,Human Anat & Physiol Lab II,0,2,3,2,...,2,2,2,0,2,3,0,"Swigart, James P",28,2.250000
1600,2019,Spring,2019-sp,MCB,247,Human Anat & Physiol Lab II,0,0,3,1,...,5,5,0,1,1,1,0,"Swigart, James P",24,2.251250

### Puzzle 2.3: Easiest Courses in 2019

Find the **30 easiest courses in 2019** at Illinois based on their "Average GPA".

In [11]:
df_easiestCourses_2019 = df_2019.nlargest(30, "Average GPA")
df_easiestCourses_2019

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
2311,2019,Summer,2019-su,IS,532,Theory & Pract Data Cleaning,266,18,1,0,...,0,0,0,0,0,0,0,"Ludaescher, Bertram",286,3.995350
595,2019,Spring,2019-sp,CI,473,Disciplinary Literacy,0,94,2,1,...,0,0,0,0,0,0,0,"Filkins, Scott R",97,3.986289
1118,2019,Spring,2019-sp,FSHN,502,Advanced Sensory Science,34,3,0,1,...,0,0,0,0,0,0,0,"Lee, Soo-Yeun",38,3.982368
1980,2019,Spring,2019-sp,SHS,352,Hearing Health and Society,0,50,0,0,...,0,0,0,0,0,0,0,"Chambers, Ronny D",51,3.980392
1340,2019,Spring,2019-sp,KIN,104,Skating Activities,0,49,0,0,...,0,0,0,0,0,0,1,"Park, Doo Jae",50,3.980000
1911,2019,Spring,2019-sp,REL,208,Cultures & Lits of South Asia,0,46,0,0,...,0,0,0,0,0,0,0,"Mehta, Rini B",47,3.978723
2362,2019,Summer,2019-su,SBC,509,Strategic Media Management,22,17,0,0,...,0,0,0,0,0,0,1,"Yao, Mike Z",40,3.975000
1418,2019,Spring,2019-sp,LER,590,Gov't Reg & Employment Law,1,36,1,1,...,0,0,0,0,0,0,0,"Leroy, Michael H",39,3.974359
2023,2019,Spring,2019-sp,SOCW,297,Asian Families in America,0,38,0,0,...,0,0,0,0,0,0,0,"Balgopal, Anita A",39,3.974359
2298,2019,Summer,2019-su,FSHN,595,Nutrition for Health & Fitness,0,38,0,0,...,0,0,0,0,0,0,0,"Kundrat, Susan M",39,3.974359
1310,2019,Spring,2019-sp,IS,543,Sociotechnical Info Systems,0,62,1,0,...,0,0,0,0,0,0,0,"LaLone, Nicolas J",64,3.974062
1302,2019,Spring,2019-sp,IS,501,Info Org and Access,0,33,1,1,...,0,0,0,0,0,0,0,"Smith, Linda C",35,3.971429
229,2019,Spring,2019-sp,ANSC,103,Working With Farm Animals,0,56,0,1,...,0,0,0,0,0,0,0,"Parsons, Carl M",58,3.971207
416,2019,Spring,2019-sp,BADM,590,Strategic Sourcing,25,16,2,1,...,0,0,0,0,0,0,0,"Liang, Hongyan",44,3.969773
2308,2019,Summer,2019-su,IB,533,Human Genome & Bioinformatics,18,3,0,1,...,0,0,0,0,0,0,0,"Manaster, Joanne L",22,3.969545
2201,2019,Summer,2019-su,ACCY,593,Prof Soft Skills I,0,60,0,0,...,1,0,0,0,0,0,0,"Reierson, Timothy J",61,3.967213
367,2019,Spring,2019-sp,BADM,445,Small Business Consulting,0,29,0,0,...,0,0,0,0,0,0,0,"Kurtz, Jeffrey M",30,3.966667
1343,2019,Spring,2019-sp,KIN,109,Team Sport Activities,0,28,0,0,...,0,0,0,0,0,0,0,"Morales, Dakota G",29,3.965517
1717,2019,Spring,2019-sp,MUS,450,U of I Symphony Orchestra,0,33,1,0,...,0,0,0,0,0,0,0,"Schleicher, Donald J",35,3.962000
1722,2019,Spring,2019-sp,NPRE,199,Undergraduate Seminar,1,31,0,2,...,0,0,0,0,0,0,0,"Stubbins, James F",34,3.960588
1311,2019,Spring,2019-sp,IS,543,Sociotechnical Info Systems,0,48,0,0,...,0,0,0,0,0,0,0,"LaLone, Nicolas J",50,3.960000
777,2019,Spring,2019-sp,ECE,206,Electrical & Electronics Lab,4,24,2,1,...,0,0,0,0,0,0,0,"Radhakrishnan, Chandrasek",31,3.957097
2309,2019,Summer,2019-su,IS,502,Libraries Info and Society,0,29,0,0,...,0,0,0,0,0,0,0,"Williams, DeAnza",30,3.955667
989,2019,Spring,2019-sp,ENG,398,ELA Leadership Training,0,34,2,0,...,0,0,0,0,0,0,0,"Forman, Gretchen M",37,3.955135
2107,2019,Spring,2019-sp,STAT,511,Mathematical Statistics II,5,23,0,0,...,0,0,0,0,0,0,0,"Chen, Yuguo",29,3.954138
344,2019,Spring,2019-sp,BADM,350,IT for Networked Organizations,0,59,3,0,...,0,0,0,0,0,0,0,"Nelson, Matthew L",64,3.953281
491,2019,Spring,2019-sp,CEE,598,Building Information Modeling,25,60,5,0,...,0,0,0,0,0,0,0,"Golparvar Fard, Mani",92,3.953043
1308,2019,Spring,2019-sp,IS,508,Collection Development,0,31,3,1,...,0,0,0,0,0,0,0,"Holba Puacz, Jeanne T",35,3.952571
123,2019,Spring,2019-sp,ACCY,575,Data Analytics Apps in ACCY,6,27,1,0,...,0,0,0,0,0,0,0,"Hobson, Jessen L",35,3.952571
1268,2019,Spring,2019-sp,IB,536,Evolutionary Biology,21,4,2,1,...,0,0,0,0,0,0,0,"Birdsley, Jeffrey",28,3.952500

In [12]:
## == TEST CASES for Puzzle 2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error or output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( len(df_hardestCourses) == 30 ), "You should only have the 30 hardest courses."
assert( abs(df_hardestCourses["Average GPA"].mean() - 1.58) < 0.01 ), "Are you sure you have the 30 hardest courses?"

assert( len(df_hardestCourses_2019) == 30 ), "You should only have the 30 hardest courses in 2019."
assert( abs(df_hardestCourses_2019["Average GPA"].mean() - 2.04) < 0.01 ), "Are you sure you have the 30 hardest courses of 2019?"

assert( len(df_easiestCourses_2019) == 30 ), "You should only have the 30 easiest courses in 2019."
assert( abs(df_easiestCourses_2019["Average GPA"].mean() - 3.97) < 0.01 ), "Are you sure you have the 30 easiest courses of 2019?"

## Puzzle 3: Finding Data on  Every Subject

### Puzzle 3.1: Total Grades Given in Each Subject

Using `groupby` and `agg`, find the total number of each grade (eg: "A+"s, "A"s, "A-"s, etc.) for every subject in the DataFrame `df_grouped_subject`.

In [14]:

df_sub = df.groupby("Subject")

df_grouped_subject = df_sub["A+", "A","A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D","D-", "F"].agg("sum").reset_index()
df_grouped_subject

,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F
0,AAS,592,1787,755,471,446,222,121,111,45,26,28,18,58
1,ABE,267,2270,748,650,851,226,121,163,46,16,39,5,43
2,ACCY,6041,19837,13746,13389,12065,5064,2409,1852,918,208,600,136,453
3,ACE,2466,11620,4550,3898,6123,2375,1484,2025,692,332,584,186,494
4,ACES,609,1743,232,90,240,59,59,70,20,11,25,6,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,UP,958,3203,1884,1128,1265,449,227,267,108,34,64,39,124
157,VB,0,212,6,6,120,1,0,40,0,0,2,0,0
158,VCM,302,1321,29,49,1036,20,18,337,1,1,41,0,1
159,VM,0,1619,8,0,5283,1,0,3086,0,0,283,0,8
160,YDSH,38,76,79,30,40,11,6,4,2,0,1,2,5

In [15]:
## == TEST CASES for Puzzle 3.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( len(df_grouped_subject) == 161 ), "Are you sure you grouped by subjects?"
assert( df_grouped_subject[ df_grouped_subject["Subject"] == "CS" ]["A"].sum() == 38472 ), "Are you sure you counted the right number of each subject?"

### Puzzle 3.2: Overall Average GPA

In `df_grouped_subject`, add a new column called `"Overall Average GPA"` that computes the total overall GPA of each subject at Illinois.

In [17]:
df_grouped_subject["Total Students"] = df_grouped_subject["A+"]+df_grouped_subject["A"]+df_grouped_subject["A-"]+df_grouped_subject["B+"]+df_grouped_subject["B"]+df_grouped_subject["B-"]+df_grouped_subject["C+"]+df_grouped_subject["C"]+df_grouped_subject["C-"]+df_grouped_subject["D+"]+df_grouped_subject["D"]+df_grouped_subject["D-"]+df_grouped_subject["F"]
df_grouped_subject["Overall Average GPA"] = (df_grouped_subject["A+"]*4.0+df_grouped_subject["A"]*4.0+df_grouped_subject["A-"]*3.67+df_grouped_subject["B+"]*3.33+df_grouped_subject["B"]*3+df_grouped_subject["B-"]*2.67+df_grouped_subject["C+"]*2.33+df_grouped_subject["C"]*2+df_grouped_subject["C-"]*1.67+df_grouped_subject["D+"]*1.33+df_grouped_subject["D"]*1+df_grouped_subject["D-"]*0.67)/ df_grouped_subject["Total Students"]
df_grouped_subject

,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,Total Students,Overall Average GPA
0,AAS,592,1787,755,471,446,222,121,111,45,26,28,18,58,4680,3.512765
1,ABE,267,2270,748,650,851,226,121,163,46,16,39,5,43,5445,3.482545
2,ACCY,6041,19837,13746,13389,12065,5064,2409,1852,918,208,600,136,453,76718,3.390063
3,ACE,2466,11620,4550,3898,6123,2375,1484,2025,692,332,584,186,494,36829,3.273144
4,ACES,609,1743,232,90,240,59,59,70,20,11,25,6,62,3226,3.655050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,UP,958,3203,1884,1128,1265,449,227,267,108,34,64,39,124,9750,3.455074
157,VB,0,212,6,6,120,1,0,40,0,0,2,0,0,387,3.448760
158,VCM,302,1321,29,49,1036,20,18,337,1,1,41,0,1,3156,3.384962
159,VM,0,1619,8,0,5283,1,0,3086,0,0,283,0,8,10288,2.800547
160,YDSH,38,76,79,30,40,11,6,4,2,0,1,2,5,294,3.479116

In [18]:
## == TEST CASES for Puzzle 3.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error or output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( abs(df_grouped_subject[ df_grouped_subject["Subject"] == "CS" ]["Overall Average GPA"].sum() - 3.249) < 0.01 ), "Your overall average GPA does not appear correct."

### Puzzle 3.3: Find the 15 easiest subjects at Illinois

Finally, find the 15 easiest subjects at Illinois based on their "Overall Average GPA"

In [19]:
df_easiest_subjects = df_grouped_subject.nlargest(15,"Overall Average GPA")
df_easiest_subjects

,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,Total Students,Overall Average GPA
34,CB,0,140,0,0,17,0,0,1,0,0,0,0,0,158,3.879747
155,UKR,5,190,43,20,8,4,0,1,0,0,0,0,0,271,3.841661
40,CHP,42,101,27,8,6,1,0,3,0,0,0,0,1,189,3.832804
128,REES,32,34,7,2,5,2,0,0,0,0,1,0,0,83,3.827590
53,EDUC,326,1788,248,112,102,25,17,29,6,2,11,2,9,2677,3.823123
33,BUS,519,4566,944,422,232,84,31,35,9,4,9,2,23,6880,3.823102
137,SBC,162,150,57,23,11,9,2,3,0,2,2,0,0,421,3.815036
89,IS,1556,6926,2062,815,566,166,43,52,15,3,19,1,34,12258,3.801893
126,PSM,121,37,13,4,10,4,2,3,2,0,0,0,1,197,3.795482
11,AHS,142,708,37,21,52,4,0,14,2,0,10,0,15,1005,3.794766
59,EOL,88,960,213,106,86,10,3,9,0,0,4,0,8,1487,3.793127
41,CI,1429,7884,2083,944,657,175,79,86,30,7,13,1,35,13423,3.792560
151,TE,474,767,197,105,70,14,11,22,10,0,1,1,11,1683,3.786108
60,EPOL,1,111,21,3,5,1,0,1,1,0,0,0,3,147,3.785034
95,KOR,130,104,42,23,21,6,4,1,1,0,0,0,1,333,3.780000

### Puzzle 3.4: Find the hardest 15 subjects at Illinois

Find the hardest 15 subjects at Illinois based on their "Overall Average GPA"

In [20]:
df_hardest_subjects = df_grouped_subject.nsmallest(15,"Overall Average GPA")
df_hardest_subjects

,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,Total Students,Overall Average GPA
159,VM,0,1619,8,0,5283,1,0,3086,0,0,283,0,8,10288,2.800547
150,TAM,1746,4130,3179,3167,3883,2576,2063,2143,1353,819,1023,468,1115,27665,2.820245
105,MATH,10256,26173,16820,17217,23525,13939,11953,14394,7394,4253,5342,2215,6863,160344,2.831657
121,PHYS,12103,14472,10042,9617,10233,9037,7444,7312,5409,3536,2638,3035,1704,96582,2.903050
99,LAT,14,20,17,16,21,7,14,6,3,1,3,2,8,132,2.944394
136,SAME,2,29,30,20,31,12,14,17,5,2,2,3,5,172,2.949884
36,CHBE,577,3158,1593,1654,3024,1463,1188,1953,666,149,310,59,246,16040,2.967974
38,CHIN,0,8,9,4,9,3,1,3,1,1,1,1,1,42,3.008571
37,CHEM,10617,40403,16307,16495,21845,12771,11475,13793,7408,3571,3916,2011,3566,164178,3.016211
107,MCB,6114,12503,9746,9556,11556,7187,5405,5120,2954,1675,1344,768,1169,75097,3.032980
51,ECE,7003,20082,11291,10202,13218,7274,5024,6491,3297,1145,2156,728,2091,90002,3.079784
125,PS,1915,6951,5350,4438,5768,2974,1891,2070,926,398,556,214,1079,34530,3.082618
73,GEOL,1530,2280,2246,2052,1816,1438,855,699,448,278,204,137,407,14390,3.085982
52,ECON,12872,25440,14346,13682,18161,8231,6081,7904,3278,2104,2739,1179,3209,119226,3.100808
127,PSYC,6692,24195,8859,9015,18369,5710,4185,8488,1893,1120,2252,503,2118,93399,3.109243

### Puzzle 3.5: Find your major!

Finally, find your major/subject in the DataSet and check out how hard it is! 

Feel free to look around and explore! Write your code below and write comments to explain what your code does. For example, what are the hardest classes in your major that have had at least 50 students?

In [24]:
df_major = df[df["Subject"]=="ECON"] #This creates a data frame with only ECON classes.
df_major_C = df_major.groupby("Number") #This groups together all the sections into which class they are apart of.

df_major_C_G = df_major_C["A+", "A","A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D","D-", "F"].agg("sum").reset_index()
#this will get the sum of the number of each letter grade given out for each class.

df_major_C_G["Total Students"] = df_major_C_G["A+"]+df_major_C_G["A"]+df_major_C_G["A-"]+df_major_C_G["B+"]+df_major_C_G["B"]+df_major_C_G["B-"]+df_major_C_G["C+"]+df_major_C_G["C"]+df_major_C_G["C-"]+df_major_C_G["D+"]+df_major_C_G["D"]+df_major_C_G["D-"]+df_major_C_G["F"]
df_major_C_G["Overall Average GPA"] = (df_major_C_G["A+"]*4.0+df_major_C_G["A"]*4.0+df_major_C_G["A-"]*3.67+df_major_C_G["B+"]*3.33+df_major_C_G["B"]*3+df_major_C_G["B-"]*2.67+df_major_C_G["C+"]*2.33+df_major_C_G["C"]*2+df_major_C_G["C-"]*1.67+df_major_C_G["D+"]*1.33+df_major_C_G["D"]*1+df_major_C_G["D-"]*0.67)/ df_major_C_G["Total Students"]
#First comand will get the total students who have taken each course, while the second will get the total average gpa for the course. 

df_major_C_G_50 = df_major_C_G[df_major_C_G["Total Students"]>50]
#This command will create a new data frame with classes that have had more than 50 students. 

df_major_C_G_50.nsmallest(15, "Overall Average GPA")
#This command will finally pick the 15 hardest classes that Econ has offered based on overall average GPA.

,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,Total Students,Overall Average GPA
4,203,1522,1481,1266,1346,1722,1233,1008,1225,609,503,479,274,727,13395,2.743244
5,220,9,8,19,15,12,7,10,7,4,2,4,1,7,105,2.796952
6,302,1555,2407,1894,1697,1832,1476,1037,1054,883,512,483,362,800,15992,2.832180
9,411,43,145,122,122,153,109,93,113,54,20,31,3,15,1023,2.882219
1,103,1035,2835,2221,2381,2993,1613,1246,1573,694,345,560,199,557,18252,2.915070
31,471,38,203,142,162,149,114,70,79,55,28,53,10,21,1124,2.923372
3,202,315,2439,507,690,2580,344,479,1226,156,208,434,93,234,9705,2.929872
21,448,1,10,15,22,18,14,11,5,3,2,0,1,2,104,2.958269
8,402,8,15,14,8,11,3,4,4,0,0,0,0,10,77,2.965584
7,303,222,568,568,679,798,488,328,296,155,82,68,37,63,4352,2.991620
17,437,27,26,18,16,5,4,7,9,3,9,2,4,8,138,2.992681
12,417,8,6,6,6,14,7,5,5,3,1,0,0,1,62,3.010968
38,484,73,147,40,38,90,32,20,55,25,8,22,0,21,571,3.046883
11,415,5,13,16,12,14,7,8,8,0,2,2,1,0,88,3.083409
20,447,1,26,10,20,12,9,10,3,3,1,1,2,1,99,3.124343

# Finale!

You're almost done -- congratulations!

You need to do two more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. After you have saved and checkpointed, exit this notebook, and return to the Data Science DISCOVERY page on how to use git to turn this notebook into the course!